.people_list{
    display: flex;
    align-items: center;
    text-align: left;
    gap:20px;
    margin: 10px;
}

.people_image{
    max-width: 80px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.people_name{
    font-size: 18px;
}

.people_ul{
    margin: 28px 0px;
}